/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

body {
    color: #3c3c3c;
}

/* variables */
:root {
    --primary: #cd2027;
    --secondary: #fea31d;
    --secondary-to: #ea6005;
    --gray-text: #9e9e9f;
    --gray-text-2: #bbb;
    --gray-line: #e3e3e2;
    --gray-dark: #373737;
    --dark: #222222;
}

/* shared */
p {
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
    color: var(--gray-text);
    line-height: 1.3rem;
}

div.divider {
    width: 100%;
    height: 1px;
    background-color: var(--gray-line);
}

div.cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

div.cta button {
    flex-grow: 1;
    padding: 0.5rem 1.25rem;
    border: 4px solid var(--gray-line);
    border-radius: 1000px;
    font-size: 1.25rem;
    color: rgba(42, 42, 42, 0.8);
}

div.cta button:first-child {
    background: linear-gradient(
        to bottom,
        var(--secondary),
        var(--secondary-to)
    );
    color: var(--primary);
}

div.cta button:last-child {
    background: linear-gradient(to bottom, white, var(--gray-line));
    color: var(--gray-text);
}

div.cta p {
    font-size: 1.25rem;
    color: black;
}

/* nav */
nav {
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 5rem;
    border-bottom: 1px solid var(--gray-line);
}

nav div.nav-left {
    display: flex;
    align-items: center;
    gap: 2rem;
}

nav div.nav-left > div {
    display: flex;
    gap: 0.5rem;
}

nav div.nav-left > div > p {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary);
}

nav div.nav-left > p {
    color: var(--gray-text-2);
}

nav div.nav-right > p {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--primary);
}

/* main structure */
main {
    padding: 1rem 0;
}

section.section {
    max-width: 986px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 3.5rem 0;
}

section.section h2 {
    font-weight: 500;
}

section.section-1 div {
    grid-column: span 6;
}

section.section-2 div {
    grid-column: span 4;
}

section.section-3 h2 {
    grid-column: span 12;
}

section.section-3 p {
    grid-column: span 7;
}

section.section-3 ul {
    grid-column: span 5;
}

section.section-4 h2,
div {
    grid-column: span 12;
}

section.section-5 * {
    grid-column: span 12;
}

/* section 1 details */
section.section-1 {
    gap: 4rem;
}

section.section-1 div:first-child {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding-right: 1rem;
}

section.section-1 div:first-child h1 {
    font-size: 2rem;
    font-weight: 500;
}

section.section-1 div:last-child {
    position: relative;
}

section.section-1 div:last-child img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.25rem;
    border: 0.25rem solid var(--gray-line);
}

section.section-1 div:last-child i {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.5rem;
    background-color: var(--dark);
    color: white;
    border-radius: 1000px;
    border: 1px solid var(--gray-text);
}

section.section-1 div:last-child i:first-child {
    left: -1.25rem;
}

section.section-1 div:last-child i:last-child {
    right: -1.25rem;
}

/* section 2 details */
section.section-2 {
    gap: 4rem;
}

section.section-2 > div {
    display: flex;
    gap: 1.25rem;
}

section.section-2 > div > i {
    font-size: 2.5rem;
    color: var(--gray-line);
}

section.section-2 > div h2 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

/* section 3 details */
section.section-3 {
    row-gap: 1.5rem;
    column-gap: 4rem;
}

section.section-3 ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section.section-3 ul li {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    height: 100%;
    color: var(--secondary);
}

section.section-3 ul li + li {
    border-top: 1px solid var(--gray-line);
}

section.section-3 ul li i {
    background-color: var(--dark);
    border: 1px solid var(--dark);
    border-radius: 1000px;
    color: white;
}

/* section 4 details */
section.section-4 {
    row-gap: 1.5rem;
}

section.section-4 div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.5rem;
}

section.section-4 div img {
    border: 4px solid var(--gray-line);
    width: 100%;
}

/* section 5 details */
section.section-5 {
    row-gap: 1.5rem;
}

section.section-5 div.testimonial--container p:first-child {
    border: 1px solid var(--gray-line);
    border-radius: 0.25rem;
    padding: 1.5rem 2rem;
    text-align: center;
    font-size: 1.35rem;
    font-style: italic;
}

section.section-5 div.triangle {
    position: relative;
    left: 5rem;
    top: -1rem;
    width: 2rem;
    height: 2rem;
    rotate: 45deg;
    background-color: white;
    border-bottom: 1px solid var(--gray-line);
    border-right: 1px solid var(--gray-line);
}

section.section-5 .testimonial-name--text {
    margin-left: 1.25rem;
}

section.section-5 .testimonial-company--text {
    font-style: italic;
    color: var(--gray-text-2);
}

section.section-5 div.cta {
    margin: 0 auto;
    max-width: 50%;
}

/* footer */
footer h3 {
    color: white;
    margin-bottom: 1.25rem;
}

footer div.footer-top {
    background-color: var(--gray-dark);
    padding: 1.5rem 2rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 3rem;
}

footer div.footer-top div:nth-child(1) {
    grid-column: span 4;
}

footer div.footer-top div:nth-child(2) {
    grid-column: span 3;
}

footer div.footer-top div:nth-child(2) div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

footer div.footer-top div:nth-child(3) {
    grid-column: span 3;
}

footer div.footer-top div:nth-child(4) {
    grid-column: span 2;
}

footer div.footer-top .payment--container {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem;
}

footer div.footer-top .payment--container img {
    width: 3rem;
    height: 2rem;
    object-fit: cover;
}

footer div.footer-bottom {
    background-color: var(--dark);
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div.footer-bottom i {
    padding: 0.5rem;
    border-radius: 1000px;
    width: 2rem;
    height: 2rem;
    color: var(--dark);
    text-align: center;
    background-color: var(--gray-dark);
}

footer div.footer-bottom .designer--text {
    color: var(--secondary);
    font-style: italic;
}
